binds {
    Mod+B hotkey-overlay-title="Default Web Browser: Open" { spawn "dms" "ipc" "call" "defaultApp" "browser"; }
    Mod+D { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+space { spawn "dms" "ipc" "call" "spotlight-bar" "toggle"; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+Left { consume-or-expel-window-left; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }
    Mod+Down { focus-window-down; }
    Mod+F { fullscreen-window; }
    Mod+Left { focus-column-left; }
    Mod+Q { close-window; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+T { maximize-column; }
    Mod+Tab { switch-preset-column-width; }
    Mod+Up { focus-window-up; }
    Mod+V { toggle-window-floating; }
    Mod+Shift+Q { quit; }
    Mod+E { spawn "dolphin"; }
    Mod+Return { spawn "kitty"; }
    Mod+S { spawn-sh "DIR=\"$HOME/Pictures/Screenshots\"; mkdir -p \"$DIR\"; FILE=\"$DIR/$(date +%Y-%m-%d_%H-%M-%S).png\"; grim -g \"$(slurp)\" \"$FILE\" && cat \"$FILE\" | wl-copy && notify-send \"Screenshot saved\" \"$FILE\""; }
    Print { spawn-sh "DIR=\"$HOME/Pictures/Screenshots\"; mkdir -p \"$DIR\"; FILE=\"$DIR/$(date +%Y-%m-%d_%H-%M-%S).png\"; grim \"$FILE\" && cat \"$FILE\" | wl-copy && notify-send \"Screenshot saved\" \"$FILE\""; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pamixer" "-d" "5"; }
    XF86AudioMicMute allow-when-locked=true { spawn "pamixer" "--default-source" "-t"; }
    XF86AudioMute allow-when-locked=true { spawn "pamixer" "-t"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "pamixer" "-i" "5"; }
    XF86KbdBrightnessDown { spawn "brightnessctl" "-d" "spi::kbd_backlight" "set" "10%-"; }
    XF86KbdBrightnessUp { spawn "brightnessctl" "-d" "spi::kbd_backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    Mod+O { toggle-overview; }
}
